.home {
	display: flex;
	padding: 24px;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
}

.searchBar {
	padding: 12px 12px 14px 20px;
	border-radius: 4px;
	width: 100%;
	border: 1px solid #00000040;
	font-size: 16px;
}